.slide-menu {
    transform: translate3d(-250px, 0, 0);
    position: absolute;
    width: 250px;
    background: #4f6b81;
    color: #ddd;
    left: 0;
    transition: all .3s;
}
.slide-menu h1 {
    height: 50px;
    text-shadow: 1px 1px 1px #000;
}
.slide-menu img {
    height: 90px;
}
.menu {
    list-style: none;
    padding: 0;
    margin: 0;
}
.menu a {
    display: block;
    text-decoration: none;
    color: #fff;
    font-size: 1em;
    padding: 15px;
    background: linear-gradient(#0088CC,#006699);
    border-bottom: 1px solid #1e222b;
    box-shadow: inset 0px 1px 1px #8b9db3;
}
    .menu a:hover {
    background: linear-gradient(#3b3f48, #3c434d);
    box-shadow: inset 0px 1px 1px #475059;
}
    
body {
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    min-width: 100%;
}

.encabezado {
    width:100%;
    background-color: #006699;
    color: #E9FAFA;
    height: 90px;
    display: block;
}

.contenedor {
    width: 100%;
    overflow: hidden;
    min-height: 100%;
    transform: translate3d(0, 0, 0);
    transition: transform .3s;
}